SECRET_KEY=pon-aqui-una-clave-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=pixelarcade
DB_USER=user_pixelarcade
DB_PASSWORD=pon-aqui-la-clave-de-la-base-de-datos
DB_HOST=localhost
DB_PORT=3306